fastapi
uvicorn[standard]
sqlalchemy
sqlalchemy_utils
databases[postgresql]
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
email-validator
python-multipart
cryptography==41.0.3
google-api-python-client
google-auth